/* general styling */

/* font-family: 'Epilogue', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  font-family: "Epilogue";
  font-size: 18px;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}

/* start with the navbar */

.primary-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid magenta;
}

.logo {
  margin-left: 1rem;
}
nav {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.left-side {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20px;
  width: 50%;
}

.right-side {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
  width: 220px;
}

/* dropdown menu */
.drop-btn {
  border: none;
  cursor: pointer;
  background-color: white;
  padding: 0 1rem;
  font-size: 1.3rem;
  background-image: url(./images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 41%);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 1rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  /* to create animation I am goinig to use opacity instead of display none */
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
  /* font-size: 18px; */
}

.dropdown.active > .drop-btn + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown.active > .drop-btn {
  background-image: url(./images/icon-arrow-up.svg);
  color: hsl(0, 0%, 8%);
}

/* hover normal links */

a:focus,
a:hover {
  color: hsl(0, 0%, 8%);
}

/* links inside dropdown */
.dropdown--links + .dropdown--links {
  margin-top: 1rem;
}

.link-img {
  margin-right: 0.5rem;
}

.second-dropdown {
  width: 150px;
  align-items: start;
}

.drop-link + .drop-link {
  margin-top: 1rem;
}

.drop-link {
  border: 1px solid green;
  margin: 0;
}

/* style register btn */
.link-register {
  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.link-register:hover,
.link-register:focus {
  border: 1px solid hsl(0, 0%, 8%);
}

/* hamburger menu */
.mobile-nav-toggle {
  display: none;
}

/* main content */

main {
  display: flex;
  margin: 5rem;
  height: 80vh;
}
.left {
  border: 1px solid orangered;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 70%; */
}

.left-title {
  color: hsl(0, 0%, 8%);
  font-family: "Epilogue";
  font-size: 3rem;
  font-weight: 700;
  width: 70%;
  margin-left: 4rem;
  border: 1px solid chocolate;
}

.left-text {
  margin-left: 4rem;
  border: 1px solid yellow;
}

p {
  width: 60%;
  letter-spacing: 1px;
}

.main-btn {
  margin-left: 4rem;
  padding: 1rem 1rem;
  width: 150px;
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  border-radius: 15px;
  text-align: center;
  font-weight: 400;
}

.main-btn:hover {
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 8%);
}

.footer {
  margin-left: 4rem;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.footer-img + .footer-img {
  margin-left: 5rem;
}

.right {
  border: 1px solid yellowgreen;
  background-image: url(./images/image-hero-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 45%;
}

/* Media query */

@media (max-width: 400px) {
  .primary-header {
    padding-top: 1rem;
    justify-content: start;
  }
  .logo {
  }
  nav {
    /* display: none; */
    flex-direction: column;
    /* width: 70%; */
    position: fixed;
    inset: 0 0 0 30%;
    padding: min(20vh, 10rem), 2em;
    background-color: steelblue;
  }
  /* .left-side {
    flex-direction: column;
  } */

  /* .right-side {
    flex-direction: column;
  } */

  /* .nav.active {
    display: flex;
  } */
}
