*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  list-style: none;
  margin: 10px;
  display: inline-block;
}

/* mobile desktop */
.overlay {
  display: none;
}

.hamburger {
  display: none;
}

/* desktop navigation */

nav {
  display: flex;
  align-items: center;
}

.nav_ul {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/* dropdown menu */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  border-radius: 10px;
  padding: 20px;
  /* display: none; */
  position: absolute;
  background-color: white;
  width: 120px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
  border: 1px solid blue;
  width: auto;
}

.dropdown_content a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 1.5rem;
  border: 1px solid red;
}

/* nav buttons */
.nav_btns a:nth-child(1) {
  color: black;
}

.nav_btns a:nth-child(2) {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 25px;
}
